	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--accent-gradient-dark: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-dark)) 30%,
			#23262d 60%
		);
		--color-primary: lightgray;
		--color-link: #7b68ee;
		--color-background: #444;
	}
	html {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-family: system-ui, sans-serif;
		background: var(--color-background);
		background-size: 224px;
	}
	body {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
    min-height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		min-height: calc(100vh - 65px - 65px);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
  a {
    color: var(--color-link);  
    text-decoration: none;

    &:hover {
      color: yellow;
    }
    &:active {
      color: tan;
    }
  }
	.text-gradient {
		background-image: var(--accent-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}	
	.link-card-grid {
		display: flex;
		flex-wrap: wrap;
		// grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		align-items: stretch;
		gap: 2rem;
		padding: 0;

		a {
			display: block;
			min-width: 100%;
			box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
				0 2px 4px -2px rgba(0, 0, 0, 0.1);
		}
	}
  #copyright {
		flex-grow: 2;
		flex-shrink: 1;
		flex-basis: 33%;
		width: fit-content;
		text-align: center;
    color: grey;

    &.align-top {
    	position: absolute;
      bottom: unset;
      top: 20px;
    }
  }
