---
import MainLayout from '../layouts/AboutLayout.astro';
import Card from '../components/Card.astro';
---

<MainLayout title="About:: Welcome to Astro.">
	<main>
    <h1>About</h1>
    <a href="#">Link here</a>
	</main>
</MainLayout>

