---
import { idText } from 'typescript';

interface Props {
	dark?: boolean;
	type?: "list-item" | "stand-alone"
}

const { dark=false, type="list-item", } = Astro.props;
---

<li class={`list-card ${dark && 'dark'}`}>
	<slot></slot>
</li>

<!-- 
<div class={`block-card ${dark && 'dark'}`}>
	<slot></slot>
</div> -->

<style lang="scss">
	@import "../styles/components/_card.scss";
</style>
