---
import Nav from "../components/Nav.astro";
import Link from "../components/Link.astro";

const basePath = import.meta.env.BASE_URL.endsWith('/') 
  ? import.meta.env.BASE_URL 
  : `${import.meta.env.BASE_URL}/`;
---

<header class="header">
  <div class="logo-container">
    <Link 
      text='HOME'
      href=''
      icon={{
        name: "images/icons/SteveG-bigcopy.svg",
        position: "replace"
      }}
      style='primary'
      isFilled={false}
      data-navLink
      classes="logo" 
      aria-label="Go to Homepage"
      data-logoLink
    />
  </div>
  <Nav />
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: var(--color-primary);
    height: 65px;
    max-height: 65px;
  }

  .logo-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    max-width: 250px;
    
    :global(.link) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
</style>
