---
// layout imports
import MainContainer from '../layouts/MainContainer.astro';
import InnerContainer from '../layouts/InnerContainer.astro';
import Header from "./Header.astro";
import Footer from "./Footer.astro";

// style imports
import "../styles/global.scss";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/icons/SteveG-bigcopy.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />	
    <MainContainer>
			<InnerContainer>
				<slot>Default Slot Content</slot>
			</InnerContainer>
	  </MainContainer>
		<Footer />
	</body>
</html>

<style is:global lang="scss">
</style>
