---
const basePath = import.meta.env.BASE_URL;
---

<section class="main-container">
  <slot />
</section>

<style define:vars={{ basePath }}>
  .main-container {
    z-index: 1;
    margin-top: 65px;

    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 65px;
      width: 100%;
      height: 100%;
      background-image: url('var(--basePath)images/icons/SteveG-bigcopy.svg');
      background-repeat: no-repeat;
      background-position: right top;
      z-index: -1;
      opacity: .3;
    }
  }
</style>
